<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>SignIn</display-name>
  	<servlet-name>SignIn</servlet-name>
  	<servlet-class>com.Dashboard.servlet.SignIn</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SuccesfullLogin</display-name>
  	<servlet-name>SuccesfullLogin</servlet-name>
  	<servlet-class>com.Dashboard.servlet.SuccesfullLogin</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>WrongLoginOrPassword</display-name>
  	<servlet-name>WrongLoginOrPassword</servlet-name>
  	<servlet-class>com.Dashboard.servlet.WrongLoginOrPassword</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SignUp</display-name>
  	<servlet-name>SignUp</servlet-name>
  	<servlet-class>com.Dashboard.servlet.SignUp</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LoginLenght</display-name>
  	<servlet-name>LoginLenght</servlet-name>
  	<servlet-class>com.Dashboard.servlet.LoginLenght</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>PasswordLenght</display-name>
  	<servlet-name>PasswordLenght</servlet-name>
  	<servlet-class>com.Dashboard.servlet.PasswordLenght</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>PhoneExist</display-name>
  	<servlet-name>PhoneExist</servlet-name>
  	<servlet-class>com.Dashboard.servlet.PhoneExist</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>PasswordMismatch</display-name>
  	<servlet-name>PasswordMismatch</servlet-name>
  	<servlet-class>com.Dashboard.servlet.PasswordMismatch</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UserExist</display-name>
  	<servlet-name>UserExist</servlet-name>
  	<servlet-class>com.Dashboard.servlet.UserExist</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SucessfullRegistration</display-name>
  	<servlet-name>SucessfullRegistration</servlet-name>
  	<servlet-class>com.Dashboard.servlet.SucessfullRegistration</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddAdvertisment</display-name>
  	<servlet-name>AddAdvertisment</servlet-name>
  	<servlet-class>com.Dashboard.servlet.AddAdvertisment</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Show</display-name>
  	<servlet-name>Show</servlet-name>
  	<servlet-class>com.Dashboard.servlet.Show</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddComment</display-name>
  	<servlet-name>AddComment</servlet-name>
  	<servlet-class>com.Dashboard.servlet.AddComment</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Edit</display-name>
  	<servlet-name>Edit</servlet-name>
  	<servlet-class>com.Dashboard.servlet.Edit</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>EditAdvertisment</display-name>
  	<servlet-name>EditAdvertisment</servlet-name>
  	<servlet-class>com.Dashboard.servlet.EditAdvertisment</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Delete</display-name>
  	<servlet-name>Delete</servlet-name>
  	<servlet-class>com.Dashboard.servlet.Delete</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LogOut</display-name>
  	<servlet-name>LogOut</servlet-name>
  	<servlet-class>com.Dashboard.servlet.LogOut</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Filter</display-name>
  	<servlet-name>Filter</servlet-name>
  	<servlet-class>com.Dashboard.servlet.Filter</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignIn</servlet-name>
  	<url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SuccesfullLogin</servlet-name>
  	<url-pattern>/SuccesfullLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WrongLoginOrPassword</servlet-name>
  	<url-pattern>/WrongLoginOrPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUp</servlet-name>
  	<url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginLenght</servlet-name>
  	<url-pattern>/LoginLenght</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PasswordLenght</servlet-name>
  	<url-pattern>/PasswordLenght</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PhoneExist</servlet-name>
  	<url-pattern>/PhoneExist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PasswordMismatch</servlet-name>
  	<url-pattern>/PasswordMismatch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserExist</servlet-name>
  	<url-pattern>/UserExist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SucessfullRegistration</servlet-name>
  	<url-pattern>/SucessfullRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAdvertisment</servlet-name>
  	<url-pattern>/AddAdvertisment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Show</servlet-name>
  	<url-pattern>/Show</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddComment</servlet-name>
  	<url-pattern>/AddComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Edit</servlet-name>
  	<url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditAdvertisment</servlet-name>
  	<url-pattern>/EditAdvertisment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Delete</servlet-name>
  	<url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogOut</servlet-name>
  	<url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Filter</servlet-name>
  	<url-pattern>/Filter</url-pattern>
  </servlet-mapping>
</web-app>